[flake8]

max-line-length = 90
max-complexity = 15

# E127 and E128 ignored so don't need to indent up to opening bracket:
#   do_something(long, list, of, args,
#       indent, here, rather, than, up, to, opening, bracket)

# E231 Ignored so can do `def fn(arg:type=default):` (no space around ':')

# E722 Ignored as 'except' is shorthand for 'except Exception' which it doesn't detect anyway
#   Just remember to not catch all unless absolutely necessary

# W503 Ignored as should start newline before operator (the opposite W504 enforces)

ignore = E127, E128, E231, E722, W503

