[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.*, >=1.4.3"

[dev-packages]
"flake8" = "*"
invoke = "*"
pytest = "*"
mypy = "*"

[requires]
python_version = "3.6"
