[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# WARN lock file should have oldest version set (for dev and CI sake)
appdirs = "==1.*, >=1.4.3"

[dev-packages]
"flake8" = "*"
invoke = "*"
pytest = "*"
mypy = "*"
twine = "*"
pipenv = "*"
pytest-cov = "*"

[requires]
# Python version used by setup.py (but hard-coded in README.md)
# NOTE Here for development sake only; CIs need to override for newer version tests
python_version = "3.6"
